<app-spinner [color]="color" [mode]="mode" [value]="value" *ngIf="displayProgressSpinner"
  class="sq-global-backdrop center-aligned">
</app-spinner>
<div class="row">
  <div class="col-12 grid-margin">
    <div class="card">
      <div class="card-body">
        <h4 class="font-weight-bold">Danh sách mã chứng chỉ</h4>
        <div class="example-header">
          <mat-form-field>
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Tìm kiếm" value="{{filter}}">
          </mat-form-field>
        </div>

        <div class="example-container mat-elevation-z8">

          <mat-table [dataSource]="dataSource" matSort>
            <!-- Progress Column -->
            <ng-container matColumnDef="name">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Tên bất động sản </mat-header-cell>
              <mat-cell *matCellDef="let row" routerLinkActive="router-link-active">{{row.name}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="id">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Mã </mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.id}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="ownerId">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Người bán </mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.ownerId}} </mat-cell>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="price">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Giá bán </mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.price | number:'1.0-0'}} coin </mat-cell>
            </ng-container>

            <ng-container matColumnDef="amount">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Số lượng </mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.amount}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="actice">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Trạng thái </mat-header-cell>
              <mat-cell *matCellDef="let row"
                [ngClass]="{'text-danger': row.actice === 'Reject','text-success': row.actice === 'Publish','text-primary': row.actice === 'New' }">
                {{row.actice}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="btn">
              <mat-header-cell *matHeaderCellDef></mat-header-cell>
              <mat-cell *matCellDef="let row">
                <button class="btn btn-primary btn-rounded btn-fw text-white" *ngIf="isAdmin"
                  (click)="goConfig(row.id)">Xác nhận
                </button>
                <button class="btn btn-primary btn-rounded btn-fw text-white" *ngIf="isSeller"
                  [disabled]="row?.actice == 'Publish'" (click)="goUpdate(row.id)">Cập nhật
                </button>
              </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="getRecord(row.id)"
              class="example-element-row">
            </mat-row>
          </mat-table>

          <mat-paginator [pageSizeOptions]="[10, 25, 100]"></mat-paginator>
        </div>
      </div>
    </div>
  </div>
</div>