<nav class="navbar default-layout col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
  <div class="text-center navbar-brand-wrapper d-flex align-items-top justify-content-center">
    <a class="navbar-brand brand-logo" [routerLink]="['/']">
      <img src="assets/images/logobk.svg" alt="logo" />
    </a>
    <a class="navbar-brand brand-logo-mini" [routerLink]="['/']">
      <img src="assets/images/cube.svg" alt="logo" />
    </a>
  </div>
  <div class="navbar-menu-wrapper d-flex align-items-center">
    <ul class="navbar-nav navbar-nav-left header-links d-none d-md-flex">
      <li class="nav-item">
        <a role="button" routerLink="/exchange" routerLinkActive="active" class="btn btn-default">
          <i class="mdi mdi-bookmark-plus-outline"></i>Sàn giao dịch</a>
      </li>
    </ul>
    <ul class="navbar-nav navbar-nav-right">
      <a role="button" class="btn btn-default" *ngIf="!auth.loggedIn" [routerLink]="['/register']"
        routerLinkActive="router-link-active">Đăng kí</a>
      <a role="button" class="btn btn-default" *ngIf="!auth.loggedIn" [routerLink]="['/login']"
        routerLinkActive="router-link-active">Đăng nhập</a>
      <li class="nav-item dropdown d-none d-xl-inline-block" ngbDropdown *ngIf="auth.loggedIn">
        <a class="nav-link dropdown-toggle" id="UserDropdown" ngbDropdownToggle>
          <span class="profile-text">{{currentUser}}</span>
          <img class="img-xs rounded-circle" src="assets/images/faces/face1.jpg" alt="Profile image">
        </a>
        <div class="dropdown-menu dropdown-menu-right navbar-dropdown" ngbDropdownMenu aria-labelledby="UserDropdown">
          <a class="dropdown-item" (click)="logout()">
            Đăng xuất
          </a>
        </div>
      </li>
    </ul>
    <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button"
      (click)="toggleOffcanvas()">
      <span class="mdi mdi-menu"></span>
    </button>
  </div>
</nav>