<app-spinner [color]="color" [mode]="mode" [value]="value" *ngIf="displayProgressSpinner"
  class="sq-global-backdrop center-aligned">
</app-spinner>
<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h4 class="font-weight-bold">Đăng nhập</h4>
        <form class="forms-sample">
          <div class="=form-row text-center">
            <div class="col-12">
              <p class="text-danger">Chọn file IDENTITY của bạn (File định dạng .txt, dung lượng không quá 2KB)</p>
              <button id="up" (click)="fileInput.click()"><i class="mdi mdi-cloud-upload"></i> Upload Identity
                File</button>
              <input type="file" (change)="files($event.target.files)" #fileInput hidden>
              <h6 class=".text-dark" style="margin-top: 10px">{{filename}}</h6>
            </div>
          </div>
          <div class="=form-row text-center">
            <div class="col-12">
              <button (click)="upload()" type="submit" class="btn btn-primary btn-lg">Đăng nhập</button>
            </div>
          </div>
        </form>
        <div class="register-link m-t-15 text-center">
          <p>Bạn chưa có tài khoản? <a [routerLink]="['/register']" routerLinkActive="router-link-active"> Đăng kí tại
              đây</a></p>
        </div>
      </div>
    </div>
  </div>
</div>