<app-spinner *ngIf="displayProgressSpinner" class="sq-global-backdrop center-aligned">
</app-spinner>
<div class="row">
  <div class="col-12 grid-margin">
    <div class="card">
      <div class="card-body">
        <ul>
          <li>
            <h1><a>{{balance}}</a></h1>
          </li>
          <li style="vertical-align: bottom;">
            <h5 style="color:#f6a700">Coin đang có</h5>
            <h5 style="color:grey">Sử dụng coin để mua mã</h5>
          </li>
          <li style="float:right" *ngIf="isUser">
            <h5><a [routerLink]="['/user/coin']" routerLinkActive="router-link-active">Mua thêm <i
                  class="fa fa-angle-right"></i></a></h5>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12 grid-margin">
    <div class="card">
      <div class="card-body">
        <h4 class="font-weight-bold">Danh sách mã chứng chỉ</h4>
        <div class="example-header">
          <mat-form-field>
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Tìm kiếm" value="{{filter}}">
          </mat-form-field>
        </div>

        <div class="example-container mat-elevation-z8">

          <mat-table [dataSource]="dataSource" matSort>
            <!-- Progress Column -->
            <ng-container matColumnDef="code">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Mã </mat-header-cell>
              <mat-cell *matCellDef="let row"> <a [routerLink]="['/stock', row.code]"
                  routerLinkActive="router-link-active">{{row.code}}</a> </mat-cell>
            </ng-container>

            <ng-container matColumnDef="amount">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Số lượng </mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.amount}} </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;">
            </mat-row>
          </mat-table>

          <mat-paginator [pageSizeOptions]="[10, 25, 100]"></mat-paginator>
        </div>
      </div>
    </div>
  </div>
</div>