<app-spinner *ngIf="displayProgressSpinner" class="sq-global-backdrop center-aligned">
</app-spinner>
<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h4 class="font-weight-bold">Tạo tài khoản nhà phát hành</h4>
        <br>
        <form class="forms-sample" (ngSubmit)="submit()" [formGroup]="registerForm">
          <div class="form-group row">
            <label class="col-sm-3 col-form-label">Tài khoản</label>
            <div class="col-sm-9">
              <input type="text" formControlName="username" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.username.errors }" maxlength="50" />
              <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                <div *ngIf="f.username.errors.required">Bạn chưa nhập tài khoản
                </div>
                <div *ngIf="f.username.errors.char">Tài khoản không chứa các kí tự đặc biệt
                </div>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-3 col-form-label">First Name</label>
            <div class="col-sm-9">
              <input type="text" formControlName="firstName" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" maxlength="50" />
              <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                <div *ngIf="f.firstName.errors.required">Bạn chưa nhập first name
                </div>
                <div *ngIf="f.firstName.errors.char">First name không chứa các kí tự đặc biệt
                </div>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-3 col-form-label">Last Name</label>
            <div class="col-sm-9">
              <input type="text" formControlName="lastName" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" maxlength="50" />
              <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
                <div *ngIf="f.lastName.errors.required">Bạn chưa nhập last name
                </div>
                <div *ngIf="f.lastName.errors.char">Last name không chứa các kí tự đặc biệt
                </div>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-3 col-form-label">Số chứng minh thư nhân dân</label>
            <div class="col-sm-9">
              <input type="string" formControlName="identityCard" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.identityCard.errors }" maxlength="12" />
              <div *ngIf="submitted && f.identityCard.errors" class="invalid-feedback">
                <div *ngIf="f.identityCard.errors.required">Bạn chưa nhập chứng minh thư nhân dân
                </div>
                <div *ngIf="f.identityCard.errors.cmt">Số chứng minh thư có độ dài 9 hoặc 12 kí tự
                </div>
              </div>
            </div>
          </div>
          <div class="form-row text-center">
            <div class="col-12">
              <button type="submit" class="btn btn-primary btn-lg">Tạo tài khoản</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>