<!-- Page Preloder -->
<!-- <div id="preloder">
		<div class="loader"></div>
  </div>
   -->
<!-- Hero section -->
<section class="hero-section">
	<div class="container">
		<div class="row">
			<div class="col-md-6 hero-text">
				<h2>Đầu tư vào <br><span>Chứng chỉ quỹ</span> <br>bất động sản với<br><span>BKChain</span></h2>
				<h4>Ứng dụng cộng nghệ blockchain vào chứng khoán hóa thị trường bất động sản</h4>
			</div>
			<div class="col-md-6">
				<img src="assets/images/laptop.png" class="laptop-image" alt="">
			</div>
		</div>
	</div>
</section>
<!-- Hero section end -->


<!-- About section -->
<section class="about-section spad">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 offset-lg-6 about-text">
				<h2>Blockchain là gì?</h2>
				<h5 style="text-align: justify">Blockchain (chuỗi khối), ban đầu block chain là một
					cơ sở dữ liệu phân cấp lưu trữ thông tin trong các khối thông tin được liên kết với nhau bằng mã hóa
					và mở rộng theo thời gian. Mỗi khối thông tin đều chứa thông tin về thời gian khởi tạo và được
					liên kết tới khối trước đó, kèm một mã thời gian và dữ liệu giao dịch.</h5>
				<p style="text-align: justify">Thông tin trong Blockchain không thể bị thay đổi và chỉ được bổ sung thêm
					khi có sự đồng thuận của tất cả các nút trong hệ thống. Đây là một hệ thống bảo mật an toàn cao
					trước khả năng bị đánh cắp dữ liệu.</p>
				<!-- <a href="" class="site-btn sb-gradients sbg-line mt-5">Bắt đầu</a> -->
			</div>
		</div>
		<div class="about-img">
			<img src="assets/images/blck.png" alt="">
		</div>
	</div>
</section>
<!-- About section end -->
<hr>
<section class="about-section spad">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 offset-lg-6 about-text">
				<h2>Mã chứng chỉ quỹ trong <span style="color: deepskyblue">BKChain</span></h2>
				<h5 style="text-align: justify">Mỗi mã chứng chỉ quỹ của bất động sản trong hệ thống BKChain được coi
					như một phần của bất động sản đó ngoài đời thực.</h5>
				<p style="text-align: justify">Nhà đầu tư nào sở hữu toàn bộ một mã chứng chỉ quỹ của một bất động sản
					nào trong hệ thống có thể liên hệ với nhà cung cấp để sở hữu bất động sản đó ngoài thực tế dưới sự
					chủ trì của nhà phát hành.
				</p>
				<!-- <a href="" class="site-btn sb-gradients sbg-line mt-5">Bắt đầu</a> -->
			</div>
		</div>
		<div class="about-img">
			<img src="assets/images/home.png" alt="">
		</div>
	</div>
</section>

<!-- Features section -->
<section class="features-section spad gradient-bg">
	<div class="container text-white">
		<div class="section-title text-center">
			<h2>Các tính năng nổi bật</h2>
			<p>Chứng chỉ quỹ bất động sản là cách đơn giản nhất để đầu tư vào bất động sản với chi phí rất thấp.</p>
		</div>
		<div class="row">
			<!-- feature -->
			<div class="col-md-6 col-lg-4 feature">
				<i class="mdi mdi-laptop"></i>
				<div class="feature-content">
					<h4>Responsive Web Design</h4>
					<p>Hệ thống có thể truy cập từ bất cứ trình duyệt, thiết bị nào có kết nối internet</p>
				</div>
			</div>
			<!-- feature -->
			<div class="col-md-6 col-lg-4 feature">
				<i class="mdi mdi-shield-outline"></i>
				<div class="feature-content">
					<h4>An toàn và bảo mật</h4>
					<p>Mọi thông tin trong hệ thống đều được lưu trữ vào blockchain, giúp bảo mật trước các cuộc tấn
						công từ bên ngoài</p>
				</div>
			</div>
			<!-- feature -->
			<div class="col-md-6 col-lg-4 feature">
				<i class="mdi mdi-folder-multiple-outline"></i>
				<div class="feature-content">
					<h4>Tài sản</h4>
					<p>Hệ thống sử dụng một đồng coin chung để giao dịch. Dễ dàng quy đổi giữa các loại tiền tệ</p>
				</div>
			</div>
			<!-- feature -->
			<div class="col-md-6 col-lg-4 feature">
				<i class="mdi mdi-lightbulb-outline"></i>
				<div class="feature-content">
					<h4>Hỗ trợ bởi các chuyên gia</h4>
					<p>Nhà đầu tư tham gia hệ thống sẽ nhận được sự tư vấn, giúp đỡ của các chuyên gia trong lĩnh vực
						bất động sản và chứng khoán</p>

				</div>
			</div>
			<!-- feature -->
			<div class="col-md-6 col-lg-4 feature">
				<i class="mdi mdi-history"></i>
				<div class="feature-content">
					<h4>Trao đổi tức thì</h4>
					<p>Mọi giao dịch để được thực hiện lập tức sau khi nhà đầu tư quyết định đầu tư</p>
				</div>
			</div>
			<!-- feature -->
			<div class="col-md-6 col-lg-4 feature">
				<i class="mdi mdi-database"></i>
				<div class="feature-content">
					<h4>Dễ dàng giao dịch</h4>
					<p>Hệ thống với thiết kế đơn giản, dễ sử dụng với đối tượng tham gia</p>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- Features section end -->


<!-- Process section -->
<section class="process-section spad">
	<div class="container">
		<div class="section-title text-center">
			<h2>Bắt đầu đầu tư với BKChain</h2>
			<p>Bắt đầu tìm hiểu về việc đầu tư chứng chỉ quỹ bất động sản với các hướng dẫn tương tác. Nó rất dễ dàng và
				chỉ mất vài phút!</p>
		</div>
		<div class="row">
			<div class="col-md-4 process">
				<div class="process-step">
					<figure class="process-icon">
						<img src="assets/images/process-icons/account.png" alt="#">
					</figure>
					<h4><a [routerLink]="['/register']" routerLinkActive="router-link-active">Tạo tài khoản</a></h4>
					<p>Đăng kí tài khoản để tham gia vào hệ thống.</p>
				</div>
			</div>
			<div class="col-md-4 process">
				<div class="process-step">
					<figure class="process-icon">
						<img src="assets/images/process-icons/order.png" alt="#">
					</figure>
					<h4>Tài sản đầu tiên</h4>
					<p>Mua một mã chứng chỉ quỹ trên sàn giao dịch.</p>
				</div>
			</div>
			<div class="col-md-4 process">
				<div class="process-step">
					<figure class="process-icon">
						<img src="assets/images/process-icons/global.png" alt="#">
					</figure>
					<h4>Bắt đầu giao dịch</h4>
					<p>Giao dịch mã chứng chỉ quỹ với các nhà đầu tư khác.</p>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- Process section end -->

<!-- Newsletter section -->
<section class="newsletter-section gradient-bg">
	<div class="container text-white">
		<div class="row">
			<div class="col-lg-7 newsletter-text">
				<h2>Đăng kí nhận các thông tin mới nhất từ chúng tôi</h2>
				<p>Đăng ký để cập nhật mã, dữ án mới hàng tuần, phân tích thị trường chuyên sâu.</p>
			</div>
			<div class="col-lg-5 col-md-8 offset-lg-0 offset-md-2">
				<form class="newsletter-form">
					<input type="text" placeholder="Nhập email của bạn">
					<button>Bắt đầu</button>
				</form>
			</div>
		</div>
	</div>
</section>
<!-- Newsletter section end -->

<!-- Blog section -->
<section class="blog-section spad">
	<div class="container">
		<div class="section-title text-center">
			<h2>Các bài viết từ Blog</h2>
			<p>Các kiến thức cơ bản về đầu tư và hệ thống.</p>
		</div>
		<div class="row">
			<!-- blog item -->
			<div class="col-md-4">
				<div class="blog-item">
					<figure class="blog-thumb">
						<img src="assets/images/blog/1.jpg" alt="">
					</figure>
					<div class="blog-text">
						<div class="post-date">20 Tháng 5 2019</div>
						<h4 class="blog-title"><a href="">Các kênh đầu tư tài chính phổ biến tại Việt Nam</a>
						</h4>
						<div class="post-meta">
							<a href=""><span>by</span> Admin</a>
						</div>
					</div>
				</div>
			</div>
			<!-- blog item -->
			<div class="col-md-4">
				<div class="blog-item">
					<figure class="blog-thumb">
						<img src="assets/images/blog/2.jpg" alt="">
					</figure>
					<div class="blog-text">
						<div class="post-date">28 Tháng 2019</div>
						<h4 class="blog-title"><a href="">Tìm hiểu về công nghệ Blockchain</a></h4>
						<div class="post-meta">
							<a href=""><span>by</span> Admin</a>
						</div>
					</div>
				</div>
			</div>
			<!-- blog item -->
			<div class="col-md-4">
				<div class="blog-item">
					<figure class="blog-thumb">
						<img src="assets/images/blog/3.jpg" alt="">
					</figure>
					<div class="blog-text">
						<div class="post-date">1 Tháng 6 2019</div>
						<h4 class="blog-title"><a href="">Các dự án Bất động sản tham gia vào BKChain</a></h4>
						<div class="post-meta">
							<a href=""><span>by</span> Admin</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>