<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h4 class="font-weight-bold">Đăng kí</h4>
        <br>
        <form class="forms-sample" (ngSubmit)="submit()" [formGroup]="registerForm">
          <div class="form-group row">
            <label class="col-sm-3 col-form-label">Đối tượng</label>
            <div class="col-sm-9">
              <select class="form-control" formControlName="org"
                [ngClass]="{ 'is-invalid': submitted && f.org.errors }">
                <option selected disabled value="">Chọn loại đối tượng</option>
                <option value="RealEstate">Người bán BDS - Môi giới BDS - Công ty BDS</option>
                <option value="Trader">Nhà đầu tư mã</option>
              </select>
              <div *ngIf="submitted && f.org.errors" class="invalid-feedback">
                <div *ngIf="f.org.errors.required">Bạn chưa chọn loại đối tượng
                </div>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-3 col-form-label">Tài khoản</label>
            <div class="col-sm-9">
              <input type="text" formControlName="username" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.username.errors }" maxlength="50" />
              <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                <div *ngIf="f.username.errors.required">Bạn chưa nhập tài khoản
                </div>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-3 col-form-label">First Name</label>
            <div class="col-sm-9">
              <input type="text" formControlName="firstName" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" maxlength="50" />
              <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                <div *ngIf="f.firstName.errors.required">Bạn chưa nhập first name
                </div>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-3 col-form-label">Last Name</label>
            <div class="col-sm-9">
              <input type="text" formControlName="lastName" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" maxlength="50" />
              <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
                <div *ngIf="f.lastName.errors.required">Bạn chưa nhập last name
                </div>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-3 col-form-label">Số chứng minh thư nhân dân</label>
            <div class="col-sm-9">
              <input type="string" formControlName="identityCard" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.identityCard.errors }" maxlength="11" />
              <div *ngIf="submitted && f.identityCard.errors" class="invalid-feedback">
                <div *ngIf="f.identityCard.errors.required">Bạn chưa nhập chứng minh thư nhân dân
                </div>
              </div>
            </div>
          </div>
          <p class="text-danger text-center">Sau khi đăng kí thành công, hệ thống sẽ gửi cho bạn một file Identity. Sử dụng file này để đăng nhập vào hệ thống.
          <div class="form-row text-center">
            <div class="col-12">
              <button type="submit" class="btn btn-primary btn-lg">Đăng kí</button>
            </div>
          </div>
          <div class="register-link m-t-15 text-center">
            <p>Bạn đã có tài khoản? <a [routerLink]="['/login']" routerLinkActive="router-link-active"> Đăng
                nhập</a>
            </p>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>